*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  background:  rgba(108,99,255,0.12);
  color: #f0f0f8;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}